.pagination {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .pagination a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #cfd0fa;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .pagination a:hover {
    color: white;
    background-color:#797abe ;
  }
  
  .paginationActive a {
    color: white;
    background-color: #686af8;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
    cursor: not-allowed;
  }
  